---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import ProjectEntry from "../components/ProjectEntry.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allProjects: CollectionEntry<"projects">[] =
	await getCollection("projects");

const sortedProjects = allProjects.sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title="devureca — Fullstack Developer">
	<Navbar />
	<Footer />

	<main
		class="w-full max-w-md mx-auto border-x border-zinc-300/60 dark:border-zinc-900 pt-20 lg:pt-8 px-5 lg:px-0 opacity-0 animate-[fadeInUp_0.6s_ease-out_forwards]"
	>
		<div class="lg:px-6 flex flex-col gap-16 pb-12">
			{
				sortedProjects.map((project) => (
					<ProjectEntry
						id={project.id}
						title={project.data.title}
						tags={project.data.tags}
						url={project.data.url}
						imageUrl={project.data.imageUrl}
					/>
				))
			}
		</div>

		<div
			class="lg:hidden w-full text-center py-8 border-t border-zinc-300/20 dark:border-zinc-900/50"
		>
			<p class="text-xs text-zinc-600 dark:text-zinc-300">
				© 2026 devureca
			</p>
		</div>
	</main>
</Layout>
